"*":
  "Chromo-Color-Previews":
    compositeColors: true
  core:
    customFileTypes:
      "source.js": [
        "cjs"
      ]
    disabledPackages: [
      "language-javascript"
    ]
    projectHome: "/home/tim/Documents"
    reopenProjectMenuCount: 10
    telemetryConsent: "no"
    useTreeSitterParsers: false
  editor:
    autoIndentOnPaste: false
    defaultFontSize: 16
    fontFamily: "Fira Code"
    fontSize: 16
    softTabs: false
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "hard"
  "exception-reporting":
    userId: "462c1c4d-39eb-4d14-b43a-a74448f4a51b"
  "file-icons": {}
  "linter-eslint":
    autofix:
      fixOnSave: true
    lintHtmlFiles: true
  "linter-ui-default": {}
  minimap:
    displayPluginsControls: false
    minimapScrollIndicator: false
    scrollAnimation: true
  script:
    cwdBehavior: "Project directory of the script"
    stopOnRerun: true
  "todo-show":
    findTheseTodos: [
      "TODO"
    ]
    statusBarIndicator: true
  uriHandlerRegistration: "always"
  welcome:
    showOnStartup: false
