"*":
  core:
    projectHome: "/home/tim/Documents"
    reopenProjectMenuCount: 10
    telemetryConsent: "no"
    uriHandlerRegistration: "always"
  editor:
    autoIndentOnPaste: false
    defaultFontSize: 16
    fontFamily: "Fira Code"
    fontSize: 16
    softTabs: false
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "hard"
  "exception-reporting":
    userId: "462c1c4d-39eb-4d14-b43a-a74448f4a51b"
  script:
    cwdBehavior: "Project directory of the script"
    stopOnRerun: true
  welcome:
    showOnStartup: false
