<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/  file:///usr/share/openbox/menu.xsd">
  <menu id="root-menu" title="Menu" label="Openbox 3">
<!--	<separator label="Main Menu"/>🎮⎈  -->
		<item label="🖵&#8198;&#8198;&#8198;&#8198;Terminal">
			<action name="Execute">
				<command>termite</command>
			</action>
		</item>
		<item label="🕸&#8198;&#8198;&#8198;&#8198;Firefox">
			<action name="Execute">
				<command>firefox</command>
			</action>
		</item>
    <item label="🛡&#8198;&#8198;&#8198;&#8198;&#8198;Bitwarden">
      <action name="Execute">
        <command>bitwarden-desktop</command>
      </action>
    </item>
    <separator/>
		<item label="File Manager">
			<action name="Execute">
				<command>thunar</command>
			</action>
		</item>
    <item label="WiFi Manager">
			<action name="Execute">
				<command>rofi-wifi-menu.sh</command>
			</action>
		</item>
		<separator/>
    <menu id="root-menu-srct" label="Shortcuts">
      <item label="⚛️&#8198;&#8198;&#8198;&#8198;&#8198;&#8198;&#8198;Atom">
        <action name="Execute">
          <command>atom</command>
        </action>
      </item>
      <item label="💻&#8198;&#8198;&#8198;&#8198;&#8198;&#8198;GitKraken">
        <action name="Execute">
          <execute>gitkraken</execute>
        </action>
      </item>
      <item label="🌘&#8198;&#8198;&#8198;&#8198;&#8198;&#8198;Insomnia">
        <action name="Execute">
          <execute>insomnia</execute>
        </action>
      </item>
      <separator/>
      <item label="🐦&#8198;&#8198;&#8198;&#8198;&#8198;&#8198;Discord">
        <action name="Execute">
          <execute>discord-canary</execute>
        </action>
      </item>
      <item label="📻&#8198;&#8198;&#8198;&#8198;&#8198;&#8198;Telegram">
        <action name="Execute">
          <execute>telegram-desktop</execute>
        </action>
      </item>
      <item label="️🗫&#8198;&#8198;&#8198;&#8198;Slack">
        <action name="Execute">
          <execute>slack</execute>
        </action>
      </item>
      <item label="🗩&#8198;&#8198;&#8198;&#8198;&#8198;Signal">
        <action name="Execute">
          <execute>signal-desktop</execute>
        </action>
      </item>
      <separator/>
      <item label="🖌️&#8198;&#8198;&#8198;&#8198;&#8198;GIMP">
        <action name="Execute">
          <execute>gimp</execute>
        </action>
      </item>
      <separator/>
      <item label="🎶🎶&#8198;&#8198;&#8198;&#8198;Music Player">
        <action name="Execute">
          <execute>termite -e ncmpcpp</execute>
        </action>
      </item>
      <item label="🎬&#8198;&#8198;&#8198;&#8198;&#8198;&#8198;VLC">
        <action name="Execute">
          <execute>vlc</execute>
        </action>
      </item>
    </menu>
    <menu id="root-menu-8399" label="Quick Links">
      <item label="Google">
        <action name="Execute">
          <execute>firefox -new-tab "https://www.google.com"</execute>
        </action>
      </item>
      <item label="GitHub">
        <action name="Execute">
          <execute>firefox -new-tab "https://www.github.com"</execute>
        </action>
      </item>
      <item label="YouTube">
        <action name="Execute">
          <execute>firefox -new-tab "https://www.youtube.com"</execute>
        </action>
      </item>
      <separator/>
      <item label="Tiel">
        <action name="Execute">
          <execute>firefox -new-tab "https://www.tiel.io"</execute>
        </action>
      </item>
    </menu>
		<menu id="root-menu-8397" label="Run Using Root">
			<item label="Termite">
				<action name="Execute">
					<execute>app-as-root.sh termite</execute>
				</action>
			</item>
      <item label="Atom">
        <action name="Execute">
          <execute>app-as-root.sh atom</execute>
        </action>
      </item>
			<item label="Thunar">
				<action name="Execute">
					<execute>app-as-root.sh 'dbus-run-session thunar'</execute>
				</action>
			</item>
			<item label="Ranger">
				<action name="Execute">
					<execute>app-as-root.sh 'termite -e ranger'</execute>
				</action>
			</item>
		</menu>
    <menu id="root-menu-8365" label="Screenshot">
      <item label="Area">
        <action name="Execute">
          <execute>shot-area.sh</execute>
        </action>
      </item>
      <item label="Window">
        <action name="Execute">
          <execute>shot-window.sh</execute>
        </action>
      </item>
      <separator/>
      <item label="Now">
        <action name="Execute">
          <execute>shot-now.sh</execute>
        </action>
      </item>
      <item label="Five Seconds">
        <action name="Execute">
          <execute>shot-delay.sh 5</execute>
        </action>
      </item>
      <item label="Ten Seconds">
        <action name="Execute">
          <execute>shot-delay.sh 10</execute>
        </action>
      </item>
    </menu>
		<separator/>
		<menu execute="ob-places-pipemenu.sh --recent ~/" id="pipe-placesmenu" label="Home Folder"/>
		<menu execute="ob-recent-files-pipemenu.sh" id="pipe-164328" label="Recent Files"/>
		<separator/>
    <menu execute="ob-preferences-pipemenu.sh" id="pipe-preferences" label="Preferences"/>
		<item label="Lock Screen">
			<action name="Execute">
				<command>screen-lock.sh</command>
			</action>
		</item>
		<menu id="obExit" label="Exit">
				<item label="Logout">
					<action name="Execute">
						<command>ob-powermenu.sh --logout</command>
					</action>
				</item>
				<item label="Suspend">
					<action name="Execute">
						<command>ob-powermenu.sh --suspent</command>
					</action>
				</item>
				<item label="Reboot">
					<action name="Execute">
						<command>ob-powermenu.sh --reboot</command>
					</action>
				</item>
				<item label="Shutdown">
					<action name="Execute">
						<command>ob-powermenu.sh --shutdown</command>
					</action>
				</item>
		</menu>
	</menu>
</openbox_menu>
<!-- vim:sw=2
-->
