<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/  file:///usr/share/openbox/menu.xsd">
  <menu id="root-menu" title="Menu" label="Openbox 3">
<!--	<separator label="Main Menu"/>  -->
		<item label="Terminal">
			<action name="Execute">
				<command>termite</command>
			</action>
		</item>
		<item label="Firefox">
			<action name="Execute">
				<command>firefox</command>
			</action>
		</item>
    <item label="Atom">
      <action name="Execute">
        <command>atom</command>
      </action>
    </item>
		<item label="File Manager">
			<action name="Execute">
				<command>thunar</command>
			</action>
		</item>
    <item label="Manage WiFi">
			<action name="Execute">
				<command>rofi-wifi-menu.sh</command>
			</action>
		</item>
		<separator/>
    <menu id="root-menu-srct" label="Shortcuts">
      <item label="GitKraken">
        <action name="Execute">
          <execute>gitkraken</execute>
        </action>
      </item>
      <separator/>
      <item label="Discord">
        <action name="Execute">
          <execute>discord-canary</execute>
        </action>
      </item>
      <separator/>
      <item label="GIMP">
        <action name="Execute">
          <execute>gimp</execute>
        </action>
      </item>
      <item label="Color Picker">
        <action name="Execute">
          <execute>color_picker</execute>
        </action>
      </item>
      <separator/>
      <item label="Music Player">
        <action name="Execute">
          <execute>termite -e ncmpcpp</execute>
        </action>
      </item>
      <item label="🎶 Visualizer">
        <action name="Execute">
          <execute>termite -e 'ncmpcpp -s visualizer'</execute>
        </action>
      </item>
    </menu>
    <menu id="root-menu-8399" label="Quick Links">
      <item label="Google">
        <action name="Execute">
          <execute>firefox -new-tab "https://www.google.com"</execute>
        </action>
      </item>
      <item label="GitHub">
        <action name="Execute">
          <execute>firefox -new-tab "https://www.github.com"</execute>
        </action>
      </item>
      <item label="YouTube">
        <action name="Execute">
          <execute>firefox -new-tab "https://www.youtube.com"</execute>
        </action>
      </item>
      <separator/>
      <item label="Tiel">
        <action name="Execute">
          <execute>firefox -new-tab "https://www.tiel.io"</execute>
        </action>
      </item>
    </menu>
		<menu id="root-menu-8397" label="Run Using Root">
			<item label="Termite">
				<action name="Execute">
					<execute>app-as-root.sh termite</execute>
				</action>
			</item>
      <item label="Atom">
        <action name="Execute">
          <execute>app-as-root.sh atom</execute>
        </action>
      </item>
			<item label="Thunar">
				<action name="Execute">
					<execute>app-as-root.sh 'dbus-run-session thunar'</execute>
				</action>
			</item>
			<item label="Ranger">
				<action name="Execute">
					<execute>app-as-root.sh 'termite -e ranger'</execute>
				</action>
			</item>
		</menu>
    <menu id="root-menu-8365" label="Screenshot">
      <item label="Screenshot Now">
        <action name="Execute">
          <execute>shotnow</execute>
        </action>
      </item>
      <item label="Screenshot In 5">
        <action name="Execute">
          <execute>shotin5</execute>
        </action>
      </item>
      <item label="Screenshot In 10">
        <action name="Execute">
          <execute>shotin10</execute>
        </action>
      </item>
      <item label="Screenshot Area">
        <action name="Execute">
          <execute>shotArea</execute>
        </action>
      </item>
      <item label="Screenshot Window">
        <action name="Execute">
          <execute>shotWindow</execute>
        </action>
      </item>
    </menu>
		<separator/>
		<menu execute="ob-recent-files-pipemenu" id="pipe-164328" label="Recent Files"/>
		<menu execute="ob-places-pipemenu --recent ~/" id="pipe-placesmenu" label="Places"/>
		<menu id="preferences" label="Preferences">
			<menu id="obConfig" label="Openbox">
				<item label="Settings">
					<action name="Execute">
						<command>obconf</command>
					</action>
				</item>
				<separator/>
				<item label="Edit menu.xml">
					<action name="Execute">
						<command>exo-open ~/.config/openbox/menu.xml</command>
					</action>
				</item>
				<separator/>
				<item label="Openbox Restart">
					<action name="Restart"/>
				</item>
			</menu>
			<menu execute="change-font.sh" id="FontPipeMenu" label="Change Font"/>
			<separator/>
			<item label="Change Wallpaper">
				<action name="Execute">
					<command>nitrogen</command>
				</action>
			</item>
			<item label="Appearance Settings">
				<action name="Execute">
					<command>xfce4-appearance-settings</command>
				</action>
			</item>
			<separator/>
			<item label="Power Settings">
				<action name="Execute">
					<command>xfce4-power-manager-settings</command>
				</action>
			</item>
			<item label="Audio Settings">
				<action name="Execute">
					<command>pavucontrol</command>
				</action>
			</item>
			<item label="Settings Manager">
				<action name="Execute">
					<command>xfce4-settings-manager</command>
				</action>
			</item>
		</menu>
		<menu execute="ob-kb-pipemenu" id="keybinds" label="Keybinds"/>
		<separator/>
		<item label="Lock Screen">
			<action name="Execute">
				<command>screen-lock.sh</command>
			</action>
		</item>
		<menu id="obExit" label="Exit">
				<item label="Logout">
					<action name="Execute">
						<command>ob_powermenu --logout</command>
					</action>
				</item>
				<item label="Suspend">
					<action name="Execute">
						<command>ob_powermenu --suspent</command>
					</action>
				</item>
				<item label="Reboot">
					<action name="Execute">
						<command>ob_powermenu --reboot</command>
					</action>
				</item>
				<item label="Shutdown">
					<action name="Execute">
						<command>ob_powermenu --shutdown</command>
					</action>
				</item>
		</menu>
	</menu>
</openbox_menu>
<!-- vim:sw=2
-->
